.barraNav {
    background-color: rgb(82, 45, 151);
}

.barraNav-logo {width: 10%;}

.barraNav-links {
    justify-content: flex-end;
    color: #fff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
