export NavBar 

.barraNav {
    background-color: rgb(56, 7, 146);
}

.barraNav-logo {width: 100%;}

.barraNav-links {
    color: #fff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

