.navMain {
    background-color: rgb(236, 134, 163);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.navList{
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.title {
    color: rgb(14, 148, 110);
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.img-Nav {
    width: 10%;
}