.navMain {
    background-color: rgb(236, 134, 163);
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

}

.navList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.title {
    color: rgb(2, 12, 43);
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.img-Nav {
    width: 10%;
}