.navMain {
    color: rgb(236, 134, 163);
    font-size: 20px;    
}

.navList{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.title {
    color: rgb(14, 148, 110);
    font-size: 98px;
    text-align: center;
}